@import "https://fonts.googleapis.com/css?family=Lato";

body {
    width: 70%;
    font-family: Lato, sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

body.reduced_opacity {
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

